.owned-spots-div {
  display: flex;
}

/* ----------------your properties div----------------- */
.title-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding-left: 5%;
  margin-bottom: 20px;
}

.owned-spots-main-div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  padding-left: 5%;
  justify-content: space-evenly;
}

.new-listing-div {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 2px black solid;
  padding: 5px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, rgb(236, 63, 63), rgb(228, 60, 206));
  color: white;
}

/* ---------------booking div----------------------- */
.bookingMainDiv {
  display: flex;
  flex-direction: column;
  width: 30vw;
  max-width: 600px;
  padding-right: 5%;
}
.bookingDiv {
  border: 1px black solid;
  padding: 10px;
  border-radius: 10px;
}
.bookingDiv h1 {
  display: flex;
  justify-content: center;
}
.singleBooking {
  border-radius: 10px;
  padding: 5px;
}
.singleBooking h3 {
  cursor: pointer;
}
.singleBooking:hover {
  background-color: rgb(223, 223, 223);
}
.hidden {
  display: none;
}
.singleBooking:hover .hidden {
  display: block;
}
.updateButton,
.cancelButton {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 2px black solid;
  padding: 5px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, rgb(236, 63, 63), rgb(228, 60, 206));
  color: white;
}

/* -------------------update booking modal--------------- */


@media screen and (max-width: 700px) {
  .owned-spots-main-div {
    flex-direction: column;
    align-items: center;
  }
}
