.review-box-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  row-gap: 10%;
}

.review-box {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin-bottom: 10%;
}

.user-image-div {
  display: flex;
  column-gap: 20%;
  width: 12%;
  margin-bottom: 10px;
}
.name-date-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
} 
.user-image {
  width: 50px;
}
.user-image-div p {
  width: 100px;
  margin: 0;
}
.user-image-div h3 {
  width: 100px;
  margin: 0;
}
