.spot-detail-main-div {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.image-main-div {
  height: 30%;
  width: 100%;
  border: blue solid 2px;
  display: flex;
  justify-content: space-between;
}

.image-left-div {
  border: red 2px solid;
  width: 100%;
  object-fit: cover;
}

.image-right-div {
  border: yellow 2px solid;
  /* flex-wrap: wrap; */
  flex-flow: column wrap;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.spot-image-0 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.spot-image-1 {
  width: 50%;
  height: 25%;
  object-fit: cover;
}
.spot-image-2 {
  width: 50%;
  height: 25%;
  object-fit: cover;
}
.spot-image-3 {
  width: 50%;
  height: 25%;
  object-fit: cover;
}
.spot-image-4 {
  width: 50%;
  height: 25%;
  object-fit: cover;
}

.spot-detail-buttons {
  display: flex;
  column-gap: 10px;
}

.delete-button {
  border: none;
}

.edit-button {
  list-style-type: none;
}

.spot-detail-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
}

.spot-detail-hosts {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.spot-detail-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spot-detail-review {
  width: 30%;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 4px gray;
  padding: 10px;
}

.spot-detail-price {
  display: flex;
  justify-content: space-between;
}
