.spot-detail-main-div {
  border: red solid 2px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.spot-detail-image-div {
  height: 517px;
  width: 1120px;
  padding-left: 5%;
  padding-right: 5%;
  border: blue solid 2px;
}

.spot-detail-title {
  padding-left: 5%;
  padding-right: 5%;
}

.spot-image-0 {
  width: 560px;
  height: 493px;
  grid-area: "a";
}

.spot-detail-div {
  display: flex;
  flex-direction: row;
  padding: 5%;
  column-gap: 20px;
}

.spot-detail-hosts {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.spot-detail-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spot-detail-extra-info {
  width: 200px;
}

.spot-detail-price {
  display: flex;
  justify-content: space-between;
}
