/* TODO Add site wide styles */
body {
  margin: 0;
}

.padd {
  padding-left: 5%;
  padding-right: 5%;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  width: 550px;
  height: 80vh;
  padding-bottom: 10px;
  row-gap: 10px;
  overflow-y: auto;
  border-radius: 20px;
}

.input-form {
  display: flex;
  flex-direction: column;
  height: 40px;
  border: black solid 1px;
  width: 460px;
  border-radius: 10px;
  padding: 5px;
}

.submit-button {
  width: 470px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  height: 52px;
  padding: 14px;
  background-image: linear-gradient(to bottom right, rgb(236, 63, 63), rgb(228, 60, 206));
  cursor: pointer;
}

.input-placeholder {
  border: none;
}

.bold {
  font-weight: bold;
}

.logo {
  width: 120px;
  height: 40px;
}

.noU {
  text-decoration: none;
  color: black;
}

.noL {
  list-style-type: none;
}

.fa-star {
  color: rgb(243, 243, 62);
}
