.your-review-main-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  row-gap: 30px;
  overflow: auto;
  width: 300px;
  height: 70vh;
}

.your-review-title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.your-review-modal {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 10px;
  padding: 5px;
  border: black 1px solid;
  width: 95%;
  max-height: 40%;
}

.your-review-single-container {
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 5px;
}

.delete-submit-button {
  display: flex;
  column-gap: 5px;
}

.d-s-b {
  cursor: pointer;
}
