.your-review-main-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  row-gap: 30px;
  overflow: auto;
  width: 300px;
  max-height: 70vh;
}

.your-review-title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.your-review-modal {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 10px;
  padding: 10px;
  border: black 1px solid;
  width: 95%;
  max-height: 40%;
  border-radius: 20px;
}

.your-review-single-container {
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 5px;
}

.delete-submit-button {
  display: flex;
  column-gap: 5px;
}

.d-s-b {
  cursor: pointer;
}

.edit-review-container {
  width: 100%;
}

.edit-review-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 98%;
  margin: 0;
}

.edit-review-div {
  width: 95%;
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  border-radius: 10px;
  padding: 5px;
  align-items: flex-start;
  margin-bottom: 5px;
}

.edit-review-submit {
  width: 100%;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(to bottom right, rgb(236, 63, 63), rgb(228, 60, 206));
  cursor: pointer;
}

.edit-review-submit:hover {
  box-shadow: 2px 2px 4px 2px gray;
}

.input-placeholder {
  width: 100%;
}
