.spotCard-main-div {
  width: 280px;
  height: 265px;
  margin: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.spot-previewImage {
  width: 280px;
  height: 265px;
  display: flex;
  border-radius: 10%;
}

.spot-city-state {
  display: flex;
  flex-direction: column;
  align-self: start;
  padding-left: 10px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.price-div {
  display: flex;
  column-gap: 5px;
  align-self: flex-start;
}

.price-night {
  display: flex;
  font-weight: normal;
}
