.spotCard-main-div {
  width: 200px;
  height: 300px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.spot-previewImage {
  width: 200px;
  height: 200px;
  display: flex;
  border-radius: 10%;
}

.spot-city-state {
  display: flex;
  flex-direction: column;
  align-self: start;
  padding-left: 10px;
  font-weight: bold;
  color: black;
}

.price-div {
  display: flex;
  column-gap: 5px;
  align-self: flex-start;
}

.price-night {
  display: flex;
  font-weight: normal;
}
